* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 60px;
    height: 100%; /* Garante que o body tenha a altura total da página */
    margin: 0;    
    position: relative;
}
